<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
         <title>About</title>
    </head>
    <body>
         <div class="main-content">   
         {{>header}}
         <p>This site was created by Jayesh Jadhav.It uses data from mapbox and darksky.net</p>
        <img src="img/robot.png">
       </div>
       {{>footer}}
    </body>
</html>